body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
    transition: background 1s, color 1s;
}

h1, p, h2 {
    margin-bottom: 20px;
    transition: background 1s, padding 0.3s;
}
